md-card {
    width: 80%!important;
    margin: 20px auto!important;
    padding-top: 25px;
    padding-bottom: 25px!important;
    button.main-button {
        margin: 5px;
        position: absolute;
        right: 0px;
    }
}
